* {
margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.header_home {
    font-size: 60px;
    line-height: 40px;
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;
    vertical-align: middle;
}

  
.header_home:focus {
outline: none;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.header_home_font {
    font: "Goudy Old Style", "Garamond", "Big Caslon", "Times New Roman", "serif";
}

.log-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .log-button:hover {
    background-color: #555;
  }
  
  .log-button:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }

.main {
    margin-top: 100px;
    text-align: center;
}

.logoImg {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.logo {
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header {
    background: linear-gradient(to bottom, #a9c6ed, #6d8cb5);
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.loginInitial {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1em;
    height: 25px;
    width: 25px;
    display:flex;
    justify-content: center;
}

.logo-image {
    display: inline-block;
    vertical-align: middle; /* Adjust the alignment as needed */
    margin-right: 10px; /* Add some spacing between the image and the anchor */
  }